workflows/n8n/agente-facilitador.json
{
  "name": "Agente vendedor Arcogeek",
  "nodes": [
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": "={{ $('Parametros Fluxo').item.json.ModeloTemperatura }}"
        }
      },
      "id": "45706b42-68aa-4508-8ca4-064980a473ee",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        5984,
        1328
      ],
      "credentials": {
        "openAiApi": {
          "id": "g86qXrzGqRRL3Reh",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "tableId": "clientes_arcogeek",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados Lead').item.json.LeadNome }}"
            },
            {
              "fieldId": "whatsapp_id",
              "fieldValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "1cd23fd7-c509-42da-b92e-dde41b6a9a96",
      "name": "Criar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5200,
        832
      ],
      "credentials": {
        "supabaseApi": {
          "id": "N0IbM1nqfS8A3LCY",
          "name": "arcogeek_neto"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "id": "92c026b6-e977-44f9-87de-f392c74eb0f3",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5424,
        752
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem').item.json.message }}",
        "options": {
          "systemMessage": "=\n# Instruções\nSeu nome é Geek, atendente especialista da ArcoGeek. Seja cordial, divertido e eficiente.\n\n- Quando for perguntado à que horas a loja abre, informe ap cliente que a loja física abre das 09h às 13h fechando para almoço e reabre as 15h às 19h, porém a loja virttual funciona 24h por dia os 7 dias da semna podendo fazer pedido a qualquer momento.\n\n# SEMPRE comece saudando e enviando o link: <arcogeek.beta.kyte.site/pt-BR>\n\n# Se vier número de pedido estranho (ex: PEDIDO #29), ignore e foque no restante da mensagem.\n\n## Base de Produtos\n- Camisetas (Marvel, DC, Animes, Séries, Rock)\n- Action Figures e Funko Pops\n- Canecas e Copos\n- LEGO e Pelúcias\n- Chaveiros e Acessórios\n- Papelaria Nerd\n- Lentes de Contato\n\n## Apresentação de Produtos\nUse sempre este formato:\n- Nome: [nome do produto]\n- Descrição: [descrição]\n- Preço: R$ [preço]\n\nNUNCA mostre quantidade em estoque. Não mostre produtos com estoque 0.\n\n## FLUXO DE BUSCA DE PRODUTOS (INTELIGENTE)\n\n### 1. Quando o cliente solicitar qualquer produto:\n- Identifique os termos principais da solicitação (ex: \"cartas pokémon\" → cartas, pokémon).\n- Normalize os termos (acentos, maiúsculas/minúsculas, erros comuns). Ex: \"pokemon\" → \"pokémon\", \"lente de contato\" -> \"lentes de contato\".\n- Para CADA termo identificado, execute a tool `ler_produtos`, sempre com a ortografia correta e individualmente.\n- Nunca retorne resultados genéricos sem antes tentar buscas diretas, com variações possíveis.\n- Envie ao cliente somente os produtos com estoque maior que 0.\n- Sempre busque no banco antes da resposta, mesmo o produto não fazendo parte da base.\n- Se o cliente solicitar por lente de contato busque no banco por \"lentes de contato\"\n\n### 2. Estratégia de FILTRAGEM:\n\na) Use `ler_produtos` sempre que houver termo claro e específico (nome, marca, tipo).  \nExemplos: \"cartas pokémon\", \"funko one piece\", \"camisa naruto\".\n\nb) Combine resultados com filtros por:\n- Nome\n- Descrição\n- Categoria\n\nc) Use `ler_todos_os_produtos` apenas quando:\n- O pedido for genérico demais (ex: \"produtos de anime\").\n- OU as buscas por termo não retornarem resultados relevantes.\n\n### 3. COMO FILTRAR QUALQUER PEDIDO:\n\nCliente pede → Você procura por:\n- \"carta pokemon\" → termos: \"cartas\", \"pokémon\"\n- \"chaveiro hello kitty\" → termos: \"chaveiro\", \"hello\", \"kitty\"\n- \"camisa naruto\" → termo: \"naruto\", na categoria CAMISETAS\n- \"tem funko?\" → categoria POP ou produtos com \"funko\"\n- \"produtos marvel\" → termo: \"marvel\" no nome ou descrição\n- \"dragon ball\" → termos: \"dragon\", \"ball\"\n- \"harry potter\" → termos: \"harry\", \"potter\"\n- \"one piece\" → \"one\", \"piece\", ou \"one piece\"\n- Aceite variações e erros: \"pokemon\", \"pokémon\", \"POKEMON\", \"naruto\", \"narutoo\", etc.\n\n### 4. Se não encontrar:\n- Tente variações (singular/plural, erro de digitação)\n- Procure partes do nome\n- Sugira produtos similares que EXISTEM\n- Só diga \"não temos\" se não encontrar NENHUMA variação\n\n## FLUXO DE VENDA\n\n### Parte 1 - Montar Pedido:\n1. Identifique o que o cliente quer\n2. Execute `ler_produtos` para cada termo\n3. Filtre os resultados corretamente\n4. Apresente os produtos encontrados\n5. Use Calculadora para somar\n6. Confirme com o cliente\n7. Use `Criar_pedidos`\n\n### Parte 2 - Dados do Cliente:\n1. Peça CPF e valide com `validação_cpf`\n2. Se erro, peça novamente\n3. Colete: nome, email, telefone, endereço\n4. Use `Atualizar_clientes`\n\n### Parte 3 - Pagamento:\n1. Pergunte a forma: PIX, CARTÃO ou BOLETO\n2. Use `Criar_cliente_Asaas`\n3. Use `Criar_pagamento_Asaas`\n4. Use `Atualizar_pedidos` com o link\n5. Envie o link ao cliente\n6.*NUNCA* peça os dados do cartão do cliente. sempre envie o link.\n\n## REGRAS ABSOLUTAS\n\n1. USE SEMPRE AS FERRAMENTAS - Nunca invente dados\n2. FILTRE COM ATENÇÃO - Busque todas variações possíveis\n3. SEJA FLEXÍVEL - Aceite erros e variações de escrita\n4. SEJA HONESTO - Diga “não temos” apenas quando esgotar todas as possibilidades\n5. ID do cliente: {{ $json.cliente_id }}\n\n## Atendimento Humano\nSe pedirem atendente humano:\n- Avise que vai transferir\n- Execute: `block_agente`\n- Execute: `acionar_humano`\n\nLEMBRETE FINAL:\nSe existe no catálogo e o cliente pediu, VOCÊ DEVE ENCONTRAR!\nExemplos:\n- \"Cartas Pokémon original\" EXISTE → mostrar!\n- \"Chaveiro Hello Kitty Kuromi\" EXISTE → mostrar!\n- \"Camisa Naruto\" EXISTE → mostrar!\n\nNUNCA diga “não encontrei” se houver QUALQUER variação no catálogo.\nVocê tem 1000+ produtos. A responsabilidade de encontrar é sua.\n\n\n### ✅ NOVO PASSO OBRIGATÓRIO APÓS A BUSCA:\n\nApós executar as buscas e obter os produtos, SEMPRE:\n1. Reanalise a pergunta original do cliente.\n2. Compare os produtos encontrados com a intenção do pedido.\n3. Mantenha apenas os produtos diretamente relacionados ao que foi pedido.\n\nExemplo:\n- Cliente pergunta: \"Tem cartas Pokémon?\"\n- Não basta ter \"Pokémon\" no nome — o produto deve estar relacionado a \"cartas\".\n- Se o resultado for \"Fichário Pokémon\", descarte, a menos que o cliente tenha mencionado interesse por isso.\n\n### 🛡️ FILTRO FINAL OBRIGATÓRIO:\n- Se o cliente pediu algo com “cartas”, o nome ou descrição do produto deve conter “carta”, “cartas”, “card”, “TCG” ou similares.\n- Se pediu “camisa naruto”, deve ser uma camiseta com “Naruto” no nome ou descrição, e da categoria correta.\n- Evite mostrar itens vagos ou genéricos só porque têm o termo pesquisado.\n\n\n### ❌ NÃO RETORNAR ACESSÓRIOS QUANDO A INTENÇÃO FOR O PRODUTO PRINCIPAL:\n\n- Se a pergunta do cliente for claramente sobre um produto específico (ex: \"cartas pokémon\"), **não retorne acessórios** como sleeves, álbuns, fichários, etc.\n- Retorne **apenas produtos que correspondam diretamente à intenção principal** (neste caso: cartas).\n- Acessórios só devem ser sugeridos se o cliente mencionar interesse neles ou pedir algo genérico.\n\nExemplo:\n- Cliente: \"Tem cartas Pokémon?\"\n  → Correto: mostrar apenas cartas.\n  → Incorreto: mostrar sleeves, álbuns, etc.\n\n\n### 🧠 REGRA DE RELEVÂNCIA:\n\n1. Sempre compare a intenção do cliente com o tipo de produto retornado.\n2. Se o cliente pediu \"cartas Pokémon\", você deve retornar **somente produtos com nome ou descrição contendo: \"cartas\", \"card\", \"baralho\", \"pacote\", \"TCG\"**.\n3. Exclua produtos como: \"sleeve\", \"fichário\", \"álbum\", \"estojo\" – a menos que o cliente tenha mencionado esse tipo de item.\n4. Quando o termo do cliente corresponder claramente a uma categoria (ex: camisetas), filtre apenas por essa categoria.\n\n**Resumindo:** só mostre o que o cliente quis de fato. Acessórios só aparecem se forem explicitamente pedidos.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        5744,
        752
      ],
      "id": "a0d76394-197b-41b0-8a8e-66fbe274e58d",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6736,
        752
      ],
      "id": "70501916-491d-42fd-9d0c-0d6e5a31c77c",
      "name": "Split Out1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6960,
        752
      ],
      "id": "b53a5f04-de41-4822-a590-6a11de308f06",
      "name": "Loop Over Items1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7472,
        768
      ],
      "id": "f6619245-21da-4d2e-805d-d2721c3263bc",
      "name": "Wait3",
      "webhookId": "33c5308c-6ef7-4028-8fb7-f0f46b8d615d",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7216,
        544
      ],
      "id": "a2bf897c-c50f-4322-8b97-686d78151368",
      "name": "No Operation, do nothing5",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        6336,
        976
      ],
      "id": "0ee98d31-cebb-474d-95d1-550f12a71ed6",
      "name": "Auto-fixing Output Parser1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6496,
        1168
      ],
      "id": "148b8af5-87b9-4061-8408-09bc3082419b",
      "name": "Structured Output Parser [Schema]",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "tableName": "n8n_chat_conversas",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5616,
        1008
      ],
      "id": "50254fa7-0842-4378-abde-812144a062a9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CiAYQVDjuoAnHkw7",
          "name": "Postgres_Arcogeek"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        6240,
        752
      ],
      "id": "2926eecb-f777-4998-bf9b-f1ee7e8dbee2",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.app.info.pl/mcp/bdace928-a770-40e0-8a02-a0b76b9d10e0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        6096,
        1024
      ],
      "id": "39f18246-5cb9-4962-b9a5-6ccf3ba85259",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "24aa4532-80db-4c1e-977a-0036b82a8e5f",
              "leftValue": "=",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb8c8892-a0b0-4418-bd20-c1fc59c62188",
      "name": "Filtro Inicial1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        160,
        896
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "AgenteStatus",
        "key": "={{ $('Parametros Fluxo').item.json.IdAgente }}_status_{{ $('Dados Lead').item.json.IdConversa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        896
      ],
      "id": "0bb5ecd7-b587-45fd-952e-d408d90a057b",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $json.AgenteStatus }}",
              "rightValue": "Desativado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        896
      ],
      "id": "5b871166-a8a5-4542-aef3-c335a947dd7d",
      "name": "Bot Desativado?1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "IdConversa",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "LeadNome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fab16c37-92e3-4ad2-9f7b-7528d824c525",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        896
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        752
      ],
      "id": "928628f8-7210-4fad-8446-5641c889b814",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bdce7b6-d0f1-442c-aafd-8cd123aa21b6",
              "name": "EsperaBuffer",
              "value": 10,
              "type": "number"
            },
            {
              "id": "c38e8985-4494-40a4-878e-f25467849842",
              "name": "TempoInatividadeAgente",
              "value": 3600,
              "type": "number"
            },
            {
              "id": "ac619a5e-1438-4e19-aaf5-21dfcbc32312",
              "name": "ModeloTemperatura",
              "value": 0.3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        896
      ],
      "id": "af000860-676e-47f1-82bb-bc4b388cbdae",
      "name": "Parametros Fluxo",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arco-geek",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1328,
        896
      ],
      "id": "1cab478d-a588-45b4-b6d4-1b8c4497483d",
      "name": "Webhook",
      "webhookId": "e08a4cc8-a904-4cf7-8343-65a57198df10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution_api:8080/message/sendText/Alfred",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados Lead').item.json.IdConversa }}"
            },
            {
              "name": "text",
              "value": "={{ $json['output.mensagens'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2abb4bcd-21f8-4648-bbe9-5a9a151605b3",
      "name": "(EVO) Enviar Mensagem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        768
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2huhtTYUy5Wnxteq",
          "name": "Evo_Api_Arcogeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.cliente_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6a51bfd6-4161-4ad5-9e76-0cb506f70c6b",
      "name": "Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4976,
        752
      ],
      "alwaysOutputData": false,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes_arcogeek",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_id",
              "keyValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "a078b2eb-d8d7-46b0-9532-1c43ea40599d",
      "name": "Encontrar Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4752,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "N0IbM1nqfS8A3LCY",
          "name": "arcogeek_neto"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e5cbf60-e017-4396-8c4b-e49706f393e7",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        896
      ],
      "id": "87c4a9d0-5448-4bf2-a6f8-411691c0230d",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1072,
        896
      ],
      "id": "7d0a5df5-1762-4796-95cf-229cad7c66d5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f7053057-3e82-49ad-a2bf-07bafc958f06",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40b284c8-fdf7-49e5-9ac3-8c5051f51521"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7babc8fd-200c-4cb8-bc63-f999f57d5217",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "id": "3d25a019-3fff-441d-9188-59bcbdcfc579",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1440,
        848
      ],
      "notesInFlow": true,
      "notes": "Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "1f843dce-4553-4686-bb97-24f109ce974f",
      "name": "Transcrever Áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2640,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "g86qXrzGqRRL3Reh",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n",
        "inputType": "base64",
        "options": {}
      },
      "id": "efdf6563-6619-45e8-9f48-b664b0b10458",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2640,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "g86qXrzGqRRL3Reh",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": "={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        848
      ],
      "id": "5303db90-7650-4e2a-8e1b-9582ed9fce1e",
      "name": "Wait",
      "webhookId": "169ea291-c3dc-4bca-854f-05520c979d7d",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bd6c365-d077-4284-9dfe-94db1cbe39bd",
              "leftValue": "={{ $('Buffer 4').item.json.messages.last() }}",
              "rightValue": "={{ $('Buffer 1').item.json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3888,
        848
      ],
      "id": "9d397304-0999-435c-ac2c-ba151b2d37f4",
      "name": "ComparandoMensagens",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "message",
              "value": "={{ $('Apagar Buffer').item.json.messages.join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4448,
        752
      ],
      "id": "673dee39-2067-47f0-b250-b059ad182766",
      "name": "Mensagem",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3216,
        848
      ],
      "id": "1004ab1e-c3ef-4675-83df-69cd7bf07bb0",
      "name": "Buffer 1",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3664,
        848
      ],
      "id": "72fc2703-6c04-4edd-b980-eedb179fa3ac",
      "name": "Buffer 4",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Texto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        448
      ],
      "id": "d17cc14e-f554-4165-b161-61e47dd9ef04",
      "name": "Add Texto Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4096,
        752
      ],
      "id": "478a185d-b3c7-4279-ab61-844dc3c8c992",
      "name": "Apagar Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        448
      ],
      "id": "f5bf0b6f-e630-47be-98b1-89ef4087e530",
      "name": "Mensagem Texto",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Audio",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        768
      ],
      "id": "5841cbde-bbe5-4615-98e8-5ce16e8ac6cf",
      "name": "Mensagem Audio",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "f5c70ab5-7671-4bc8-9d23-65b8954ddb08",
              "name": "MensagemImagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        928
      ],
      "id": "96021ec6-06f4-4ad8-977c-c50e48c01ce4",
      "name": "Mensagem Imagem",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        768
      ],
      "id": "8bac97cf-e601-4270-a415-ed76a617d8d1",
      "name": "Add Audio Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Erro }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        1264
      ],
      "id": "b8d0901b-a16a-4810-a95b-a00e638d2c6f",
      "name": "Add Error Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2640,
        1088
      ],
      "id": "2715951e-9d0a-4ddd-a7c1-e0b2a1bcf50d",
      "name": "Extract from File1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11dc126a-e72e-431b-8db5-c78168c69439",
              "name": "Erro",
              "value": "<ErroFormatoMensagem>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1264
      ],
      "id": "0a78925a-7fb2-4cf4-b331-77af251a0239",
      "name": "Mensagem Erro",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF1').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        1088
      ],
      "id": "2af13ece-18c9-4e16-b456-8b580c4f6977",
      "name": "Add PDF Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        928
      ],
      "id": "1a742ebf-2cf4-4668-b849-5d2e51e71ce1",
      "name": "Add Imagem Buffer",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4096,
        944
      ],
      "id": "b7255114-2cce-4d0a-a508-7ef49e242c1c",
      "name": "No Operation, do nothing7",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Documento",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "003323ec-ffbe-4c91-b8b5-623466b5014d",
              "name": "MensagemDocumento",
              "value": "={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1088
      ],
      "id": "112dd0c2-8466-483a-b6e1-0c984b89d9fb",
      "name": "Mensagem Documento PDF1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Imagem",
        "options": {
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2416,
        928
      ],
      "id": "2d05f709-b38f-4eab-9c61-32e7f54d1b66",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Audio",
        "options": {
          "mimeType": "audio/mp4"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2416,
        768
      ],
      "id": "b285b692-8b35-4c4d-b230-74a783eb4690",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Documento",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2416,
        1088
      ],
      "id": "9364442c-6e7e-40fc-8b08-e08e13d4a155",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        608
      ],
      "id": "2b10a6a4-0302-4b4a-86ef-925148893873",
      "name": "Mensagem Texto3",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ArcoGeek_{{ $('Webhook').item.json.body.data.key.remoteJid }}_block",
        "value": "true",
        "expire": true,
        "ttl": 2400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -560,
        1136
      ],
      "id": "2eba734d-aa18-401c-817f-d7427b6733a5",
      "name": "Block",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "=ArcoGeek_{{ $('Webhook').item.json.body.data.key.remoteJid }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -560,
        896
      ],
      "id": "c42f8479-e0a1-485e-bfa4-fcc4b15dd1e0",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a873352c-4ce4-4247-b868-5c39bb1503f4",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        896
      ],
      "id": "cbccaf21-86ae-4772-83ca-8d752927d6e2",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -112,
        624
      ],
      "id": "78c08f2e-f409-4a84-a3f3-cfdc5605d2f7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sempre que o cliente solicitar atendimento humano, utilize essa tool para definir o bloqueio do atendimento pelo Agente.",
        "operation": "set",
        "key": "=ArcoGeek_{{ $('Webhook').first().json.body.data.key.remoteJid }}_block",
        "value": "true",
        "expire": true,
        "ttl": 2400
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        5792,
        1024
      ],
      "id": "7772fcbb-de9e-4d46-b237-34aa65b5a395",
      "name": "block_agente",
      "credentials": {
        "redis": {
          "id": "lrzCSJ6CT3dooBbL",
          "name": "Redis_ArcoGeek"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Notifica humano para assumir o atendimento.",
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/Alfred",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=558791640927"
            },
            {
              "name": "text",
              "value": "=O número {{ $('Webhook').first().json.body.data.key.senderPn.split('@')[0] }} solicitou atendimento humano.\nFavor assumir a conversa assim que possível."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        5936,
        1024
      ],
      "id": "7f8ed3dc-9290-4058-b291-903ebbfdc8e3",
      "name": "acionar_humano",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TtVojl7KYUx3nRmj",
          "name": "z-api token"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.app.info.pl",
            "user-agent": "axios/1.10.0",
            "content-length": "1066",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.25.0.1",
            "x-forwarded-host": "n8n.app.info.pl",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4bc8f28035c7",
            "x-real-ip": "172.25.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Alfred",
            "data": {
              "key": {
                "remoteJid": "558791282116@s.whatsapp.net",
                "fromMe": false,
                "id": "3A78E2D747E4FB2E979E",
                "senderLid": "153811972821109@lid"
              },
              "pushName": "Luna",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderTimestamp": "1759929134",
                    "recipientKeyHash": "GYPgKOaNs4P/Aw==",
                    "recipientTimestamp": "1759938019"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "0WXaVsg9XKyB+xtvCNR4o9YdWtkb0POLZXSjKp2wF8U="
                },
                "conversation": "Tem lente de contato ?"
              },
              "contextInfo": {
                "stanzaId": "3EB08C2C43A3C7AA7FB9D71934B0CD63B0A2208D",
                "participant": "558720181819@s.whatsapp.net",
                "quotedMessage": {
                  "conversation": "Bom dia! Como posso ajudar você hoje? 😊"
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1760019253,
              "instanceId": "d8805f55-d654-4676-99ee-ba57f5e304c9",
              "source": "ios"
            },
            "destination": "https://n8n.app.info.pl/webhook/arco-geek",
            "date_time": "2025-10-09T11:14:13.541Z",
            "sender": "558720181819@s.whatsapp.net",
            "server_url": "https://evolution.app.info.pl",
            "apikey": "A46535782124-4B3D-8C00-677BC8A97930"
          },
          "webhookUrl": "https://n8n.app.info.pl/webhook/arco-geek",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(EVO) Enviar Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser [Schema]": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Inicial1": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Bot Desativado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Desativado?1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parametros Fluxo": {
      "main": [
        [
          {
            "node": "Filtro Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(EVO) Enviar Mensagem1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Cliente": {
      "main": [
        [
          {
            "node": "Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensagem Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Texto3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Documento PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Add Audio Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Add Imagem Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Buffer 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComparandoMensagens": {
      "main": [
        [
          {
            "node": "Apagar Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 4": {
      "main": [
        [
          {
            "node": "ComparandoMensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Texto Buffer": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Buffer": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto": {
      "main": [
        [
          {
            "node": "Add Texto Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Audio": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Audio Buffer": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Buffer": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Add PDF Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Erro": {
      "main": [
        [
          {
            "node": "Add Error Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add PDF Buffer": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Imagem Buffer": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Documento PDF1": {
      "main": [
        [
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto3": {
      "main": [
        [
          {
            "node": "Add Texto Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Encontrar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parametros Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block_agente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "acionar_humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ErVr5WAFcSyiUCxG"
  },
  "versionId": "b5e06d8e-25b4-4d72-b02c-127dc606e64e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7274cdb6cf3b6367dab2f651afec2b8cc876e24efaa01f0a08d3fc349947e63"
  },
  "id": "JdRGfibUUqM6s3eK",
  "tags": [
    {
      "createdAt": "2025-08-05T22:12:13.371Z",
      "updatedAt": "2025-08-05T22:12:13.371Z",
      "id": "XMjchL9NQJr8GkO1",
      "name": "Arcogeek"
    },
    {
      "createdAt": "2025-08-05T22:12:34.933Z",
      "updatedAt": "2025-08-05T22:12:34.933Z",
      "id": "KYXLzNNPRNAQQhFC",
      "name": "NexFlow"
    }
  ]
}